@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Crud Operations and validations</h1>
    <p>By Hany Al-Kelany <a href="https://hanykelanyportfolio.netlify.app/">My Portfilio</a>.</p>
</div>
